*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background:black;
    position: fixed;
    height: 100vh;
}
.card{
    background-color: black;
}
.footer{
    position: fixed bottom;

}
